@charset "UTF-8";
@import url(reset.css);
@import url(bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Oswald);
/* Juleheltene - stylesheet 

  Udviklet af Maja, Henrik og Steffen - Kreativ Reklame, efteråret 2013
  MDU - Aarhus Erhvervsakademi 
  www.juleheltene.pixelab.dk 

  Siden er udviklet til Julehjælp



  Versionsstyring
  0.1
  - Standard siden er sat op
  - SASS + Compass installeret 


*/
/* Importerer reset */
/* Definerer charset */
/* Importeret google webfont */
/* Viewport til IE */
@viewport {
  width: device-width;
}

@-ms-viewport {
  /* Specielt til IE10 */
  width: device-width;
}

/* line 40, ../sass/screen.scss */
body {
  font-family: 'Georgia', serif;
  font-style: italic;
}

/* line 45, ../sass/screen.scss */
#wrapper {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
}

/* line 51, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-style: normal;
}

/* line 56, ../sass/screen.scss */
.displayNone {
  display: none;
}
