/* Juleheltene - stylesheet 

  Udviklet af Maja, Henrik og Steffen - Kreativ Reklame, efteråret 2013
  MDU - Aarhus Erhvervsakademi 
  www.juleheltene.pixelab.dk 

  Siden er udviklet til Julehjælp



  Versionsstyring
  0.1
  - Standard siden er sat op
  - SASS + Compass installeret 


*/


/* Importerer reset */
@import 'reset.css';
@import 'bootstrap.min.css';

/* Definerer charset */
@charset "UTF-8";

/* Importeret google webfont */
@import url(http://fonts.googleapis.com/css?family=Oswald);

/* Viewport til IE */
@viewport{
    width: device-width;
} 
@-ms-viewport{ /* Specielt til IE10 */
    width: device-width;
}




// Farver
// fra designmanualen
$darkblue: #20202d;
$green: #BDCD46;
$yellow: #FFF4AD;
$brown: #69502F;
$red: #890101;

// sekundære farver til hjemmesiden
$secoundblue: #272733;
$backwhite: #f4f4f4;
$lightgray: #959595;
$textcolor: #333333;

@mixin oswald{
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
  font-style:normal;
}



// Standard opsætning af siden
body{
  font-family: 'Georgia', serif;
  font-style:italic;
  background-color:$darkblue;
  background-image:url('../img/snowBackground.png');
  color:$textcolor;
}

*{
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  // Bruger box sizing - for at optimerer kasserne
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#wrapper {
  max-width:960px;
  width:95%;
  margin:0 auto;
}

.displayNone {
  display:none;
}

.content{
  background-color:$backwhite;
  clear:both;
  padding-top:15px;
}
footer{
  background-image:url('../img/footerSnow.png');
  margin-top:300px;
  background-position:bottom;
  height:38px;
    img{
      margin-top:-175px;
      margin-right:0px;
      float:right; 
      overflow:hidden;
    }
}

button{
  @include oswald;
  font-size:20px;
  background-color:transparent;
  border-radius:4px;
  border:2px $darkblue solid;
  width:100%;
  transition: background-color 0.1s ease-in, color 0.1s;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s;
    
    &:hover{
      background-color:$darkblue;
      color:#fff;
      transition: background-color 0.3s ease-in, color 0.3s;
      -webkit-transition: background-color 0.3s ease-in, color 0.3s;
    }
}
#buttonDiv{
  width:120px;
  margin:20px auto 50px auto;
}

.white button{
  color:#fff !important;
  border:2px #fff solid;
  // background-color:rgba(255,255,255,0.1);
    
    &:hover{
      background-color:#fff;
      color:$darkblue !important;
    }
}
.theend{
  clear:both;
  padding-top:50px;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

hr{
  width:90%;
  border-top:1px $lightgray solid;
}

input{
    @include oswald;
    font-size:18px;
    width:90%;
    margin:0 5%;
    padding:10px;
    background-size:17px; 
    background-position:12px 13px;
    border:none;
    border-bottom:1px $lightgray solid;
    background-repeat:no-repeat;
  
    &:first-child{
      -moz-border-radius: 0px;
      -webkit-border-radius: 4px 4px 0px 0px;
      border-radius: 4px 4px 0px 0px;
    }

    &:nth-last-of-type(1){
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px 0px 4px 4px;
      border-radius: 0px 0px 4px 4px; 
      border:none;
    }
   
}
textarea{
  width:100%;
  max-width:100%;
  height:150px;
  border:none;
  border-radius:4px;
  font-family:Georgia;
  padding:10px;
}

.checkbox {
  width:60%;
  margin:0 auto;
  padding:15px 0;

  
    input[type="checkbox"]{
      display:none;
    }

    input[type="checkbox"]:checked + label:before{
      content: "\2713"; 
      font-size: 24px; 
      color: #f3f3f3;  
      text-align: center;  
      line-height: 15px; 
    }
    label:before { 
      cursor:pointer; 
      content: "";  
      display: inline-block;  
      width: 16px;  
      height: 16px;    
      position: relative;  
      left: 0;  
      background-color: #aaa;
      border-radius: 3px; 
      margin-right:10px;   
    } 
    label{
      cursor:pointer;
    } 
}


.contentAreas{
  clear:both;
  padding:50px 0;
}




// Font styling
h1, h2, h3, h4, h5, h6{
  @include oswald;
}
h1{
  font-size:40px;
}
h2{
  font-size:35px;
}
h3{
  font-size:28px;
}
h4{
  font-size:24px;
}
h5{
  font-size:20px;
}
h6{
  font-size:14px;
}
a, a:visited, a:hover{
  text-decoration:none;
}
.oswald{
  @include oswald;
}
p{
  margin:10px 0;
}

::selection{
  color:$yellow;
  background-color:$red;
}
::-moz-selection{
  color:$yellow;
  background-color:$red;
}




// Header
#logo img{
  width:70%;
  margin:10px 15%;
  margin-bottom:90px;
}
.loginBox{
    @include oswald;
    height:27px;
    position:absolute;
    background-color:$secoundblue;
    color:#fff; 
    margin-left:70%;
    cursor:pointer;
    padding:4px 10px 4px 0;
    transition: height 0.25s, padding-top 0.25s;
    -webkit-transition: height 0.25s, padding-top 0.25s;

      img{
        width:12px;
        margin:0px 8px 7.5px 12px;
        float:left;
      }
      &:hover{
        padding-top:14px;
        height:37px;
        background-position:10px 12.5px;
        transition: height 0.5s, padding-top 0.5s;
        -webkit-transition: height 0.5s, padding-top 0.5s;
      }
}
header {
  #loginBox{
    @extend .loginBox;
    
  }
  #logoutBox{
    @extend .loginBox;
    display:none;
  }
}




// Desktop nav 
#mobileNav{
  display:none;
}
#mainNav{
  @include oswald;
  font-size:26px;
  margin-top:70px;
  width:450px;
  float:right;

    div{
      width:130px;
      float:left;
    }
    a, a:visited{
      color:#fff;
      display: inline-block;
    }
}

#navIndex{
  background-image:url("../img/gift1.png");
  background-size:cover;
  padding:40px 15px 29px 15px;
  margin:20px 0 0 10px;
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari and Chrome */
  transition: transform 0.3s ease-in, margin 0.4s;
  -webkit-transition: -webkit-transform 0.3s ease-in, margin 0.4s;

    &:hover{
      margin-top:0px;
      transform: rotate(8deg);
      -ms-transform: rotate(8deg); /* IE 9 */
      -webkit-transform: rotate(8deg); /* Safari and Chrome */
      transition: transform 0.4s ease-in, margin 0.4s;
      -webkit-transition: -webkit-transform 0.4s ease-in, margin 0.4s;
    }
}

#navWish{
  background-image:url("../img/gift2.png");
  background-size:cover;
  padding:33px 10px;
  transform: rotate(3deg);
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Safari and Chrome */
  transition: transform 0.2s ease-in, margin 0.2s;
  -webkit-transition: -webkit-transform 0.2s ease-in, margin 0.2s;

    &:hover{
      margin-top:-15px;
      transform: rotate(-4deg);
      -ms-transform: rotate(-4deg); /* IE 9 */
      -webkit-transform: rotate(-4deg); /* Safari and Chrome */
      transition: transform 0.3s ease-in, margin 0.3s;
      -webkit-transition: -webkit-transform 0.3s ease-in, margin 0.3s;
    }
}

#navAbout{
  background-image:url("../img/gift3.png");
  background-size:cover;
  padding:36px 25px;
  margin:20px 0 0 20px;
  transition: transform 0.1s ease-in, margin 0.1s;
  -webkit-transition: -webkit-transform 0.1s ease-in, margin 0.1s;

    &:hover{
      margin-top:8px;
      transform: rotate(-4deg);
      -ms-transform: rotate(-4deg); /* IE 9 */
      -webkit-transform: rotate(-4deg); /* Safari and Chrome */
      transition: transform 0.3s ease-in, margin 0.3s;
      -webkit-transition: -webkit-transform 0.3s ease-in, margin 0.3s;
    }

}







// Index page 
#frontDescription{
  clear:both;
  background-color:$backwhite;
  width:72%;
  margin:0 auto;
  text-align:center;
  font-size: 33px;
  padding:5px;
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari and Chrome */
}

#indexPage .content{
  margin-top:260px;
}

#callToAction #help{
  width:35%;
  float:left;
  margin:-18% 0 0 10%;
  cursor:pointer;
    img{
      max-width:100%;
    }

    &:hover{
      opacity:0.9;
    }
}

#callToAction #wish{
  width:25%;
  float:left;
  margin:-16% 0 0 15%;
  cursor:pointer;
    img{
      max-width:100%;
    }

    &:hover{
      opacity:0.9;
    }
}

#indexPage .wishLists{
  padding-top:160px;

    h2{
      text-align:center;
      position:relative;
      font-size:50px;
      margin-bottom:-18px;
      z-index:200;
      color:#BDCD46;
    }
}

.wishLists{

}

.wishList{
  background-color:#fff;
  padding:10px;
  margin-bottom:20px;
  -moz-box-shadow: 2px 2px 7px rgba(7,7,7,0.25);
  -webkit-box-shadow: 2px 2px 7px rgba(7,7,7,0.25);
  box-shadow: 2px 2px 7px rgba(7,7,7,0.25);
  transition: box-shadow 0.1s ease-in, -moz-box-shadow 0.1s ease-in;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in;
    a{
      color:$textcolor;
    }  
  
    &:hover{
      -moz-box-shadow: 4px 4px 10px rgba(7,7,7,0.45);
      -webkit-box-shadow: 4px 4px 10px rgba(7,7,7,0.45);
      box-shadow: 4px 4px 10px rgba(7,7,7,0.45);
      transition: box-shadow 0.3s ease-in, -moz-box-shadow 0.3s ease-in;
      -webkit-transition: -webkit-box-shadow 0.3s ease-in;
    }
    .wishLink{
      text-align:right;
      margin-top:10px;
      color:$lightgray;
    }
    .description{
      height:75px;
      overflow:hidden;
    }
    .descriptionOverlay{
      width:100%;
      height:50px;
      margin-top:-55px;
      position:relative;
      z-index:200;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    }

}

.listRow{
  clear:both;
}

#countUp{
  @include oswald;
  padding:30px 0;
  text-align:center;
  
    p:nth-child(2){
      font-size:80px;
      color:lighten($darkblue, 15%);
      line-height:1.1;
    }
    p:nth-child(3){
      font-size:26px;
    }
}
#handbook img{
  width:100%;
  margin:0 auto;
}
#contest{
  background-color:$green;
  height:150px;
  background-image:url('../img/contest1.png'), url('../img/contest2.png');
  background-position: left top, right bottom;
  background-repeat:no-repeat;
  background-size:contain;

    a, a:visited{
      color:#fff;
    }
    div{
      float:left;

        &:nth-child(1){
          width:20%;
          padding:25px;
        }
        &:nth-child(2){
          width:80%;
          padding:40px 30px 35px 0;
          font-size:20px;
        }
    }
    
    img:nth-child(1){
      width:45%;
      margin:10px 0 0 20px;
      
    }
    img:nth-child(2){
      width:30%;
      margin:40px 0 0 0;
    }
}



// Juleheltene siden - heroes.php
#infographic {
  padding-bottom:400px;
    p{
      @include oswald;
      font-size:24px;
      text-align:center;
    }  
    .nr{
      background-color:$green;
      width:20px;
      border-radius:10px;
      float:left;
      margin-right:5px;
    }
    img{
      width:90%;
      margin:10px auto;
    }
}

#heroPics {
  // color:#F60;
  div{
    background-color:$secoundblue !important;
    height:100px;
    margin:10px;

  }
}


#instagramFeed{
    img{
      width:16.66%;
    }
}


// Login siden - login.php
#loginPage .content{
  background-color:transparent;
}
#loginForm{
  input{
    width:70%;
    margin:0 15%;
    padding:10px 10px 10px 40px;
    background-size:17px; 
    background-position:12px 13px;
    background-repeat:no-repeat;
  
    &:first-child{
      background-image:url('../img/mail.png');
    
    }

    &:nth-child(2){ 
      background-image:url('../img/key.png');
    }
  }
}

.logout{
  display:none;
}

.giftButton button{
  height:130px;
  background-color:transparent;
  background-image:url('../img/gift4.png');
  background-size:cover;
  background-repeat:no-repeat;
  border:none;
    
    &:hover{
      background-color:transparent;
      color:#fff;
    }
}

.wishlistButton button{
  height:150px;
  background-color:transparent;
  background-image:url('../img/wishList.png');
  background-size:cover;
  background-repeat:no-repeat;
  border:none;
    
    &:hover{
      background-color:transparent;
      color:#666;
    }
}



// createfamilyPage - createfamily.php
#createfamilyPage{
  input{
    
    &:nth-last-of-type(1){
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px 0px 4px 4px;
      border-radius: 0px 0px 4px 4px; 
      border:none;
    }
   
  }
  #buttonDiv{
    width:150px;
  }

}


// createChildren - createchildren.php
#plusButtonDiv{
  width:30px;
  float:right;
  margin:10px 0;
  margin-right:7.5%;
}










// Responsive - til mobil
@media only screen and (max-width: 765px){
  // Standard struktur
  .mobileHidden{
    display:none;
  }

  #indexPage .content{
    margin-top:120px;
  }

  // Header
  #logo img{
    width:65%;
    margin:20px 17.5%;
  }
  #loginBox{
    top:0px;
  }
  button:hover{
    background-color:transparent;
    color:$darkblue;
        
  }

  // Mobile nav
  #mobileNav{
    display:block;
    width:100%;
    margin-top:50px;
    padding:20px;
    margin-bottom:50px;

      img{
        width:37.5%;
        float:left;

      }
      #navIndexM img{
        width:25%;
        transform: rotate(-6deg);
        -ms-transform: rotate(-6deg); /* IE 9 */
        -webkit-transform: rotate(-6deg); /* Safari and Chrome */
      }
      #navAboutM img{
        margin-left:-5px;
        transform: rotate(5deg);
        -ms-transform: rotate(5deg); /* IE 9 */
        -webkit-transform: rotate(5deg); /* Safari and Chrome */
      }
  }


  // Index page 
  #callToAction #help{
    width:40%;
    margin:-16% 0 0 10%;
  }

  #callToAction #wish{
    width:35%;
    margin:-14% 0 0 5%;
  }
  #indexPage .wishLists{
    padding-top:25%;
  }

  #contestText{
    width:100% !important;
    padding:0px !important;
      p{
        padding:7% 5%;
      }
  }
  .listRow:nth-child(3){
    display:none;
  }

  // Heroes siden
  #infographic {
    padding-bottom:50px;
  }
  

  // Loginsiden
  #loginForm{
    input{
      width:100%;
      margin:0px;
    }
  }

  .createLinks{
    width:45% !important;
    float:left;
    clear:none;
    overflow:hidden;

    #buttonDiv{
      width:90px;
    }

      .giftButton button{
        height:95px;
      }
      .wishlistButton button{
        height:100px;
      }
  }

}


@media only screen and (max-width: 870px){}




