/* Juleheltene - stylesheet 

  Udviklet af Maja, Henrik og Steffen - Kreativ Reklame, efteråret 2013
  MDU - Aarhus Erhvervsakademi 
  www.juleheltene.pixelab.dk 

  Siden er udviklet til Julehjælp



  Versionsstyring
  0.1
  - Standard siden er sat op
  - SASS + Compass installeret 


*/


/* Importerer reset */
@import 'reset.css';
@import 'bootstrap.min.css';

/* Definerer charset */
@charset "UTF-8";

/* Importeret google webfont */
@import url(http://fonts.googleapis.com/css?family=Oswald);

/* Viewport til IE */
@viewport{
    width: device-width;
} 
@-ms-viewport{ /* Specielt til IE10 */
    width: device-width;
}


// Standard opsætning af siden
body{
  font-family: 'Georgia', serif;
  font-style:italic;
}

#wrapper {
  max-width:960px;
  width:95%;
  margin:0 auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
  font-style:normal;
}
.displayNone {
  display:none;
}

